<div class="h-svh flex flex-col items-center justify-between py-10 overflow-hidden">
  <gl-button color="danger" size="small" (glClick)="click()">
    <div class="flex items-center justify-center gap-4">
      <span>Hola</span>
      <fa-icon [icon]="faCoffee" ></fa-icon>
    </div>
  </gl-button>
  <gl-accordion>
    <gl-accordion-item id="1">
      <gl-accordion-thrower>Este activa el accordion</gl-accordion-thrower>
      <gl-accordion-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed alias eaque
        nulla quam numquam esse? Ad, omnis veniam. In veniam assumenda porro ad
        sint, aliquid dignissimos iste temporibus cum dolores.
      </gl-accordion-content>
    </gl-accordion-item>
    <gl-accordion-item id="2">
      <gl-accordion-thrower>Este activa el accordion</gl-accordion-thrower>
      <gl-accordion-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed alias eaque
        nulla quam numquam esse? Ad, omnis veniam. In veniam assumenda porro ad
        sint, aliquid dignissimos iste temporibus cum dolores.
      </gl-accordion-content>
    </gl-accordion-item>
    <gl-accordion-item id="3">
      <gl-accordion-thrower>Este activa el accordion</gl-accordion-thrower>
      <gl-accordion-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed alias eaque
        nulla quam numquam esse? Ad, omnis veniam. In veniam assumenda porro ad
        sint, aliquid dignissimos iste temporibus cum dolores.
      </gl-accordion-content>
    </gl-accordion-item>
  </gl-accordion>
  <gl-avatar>
    <gl-avatar-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCsY7DNAfHi3hx_4I0W1sgXLVOnqPEiWa7OQ&s"></gl-avatar-image>
  </gl-avatar>
  <gl-card>
    <gl-card-header>
      <gl-card-title>Este es el titulo</gl-card-title>
      <gl-card-description>Esta es la descripticion</gl-card-description>
    </gl-card-header>
    <gl-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab alias quaerat vero eius, tempora delectus a illum quasi corporis quam debitis autem exercitationem, at explicabo voluptatem dolore! Velit, in veritatis.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo est iure reprehenderit nihil soluta sapiente eligendi sed amet, et inventore provident sit doloribus quas modi deleniti ducimus, quis odio veniam!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, quae. Molestiae, nesciunt voluptatibus placeat expedita veritatis esse sapiente doloribus tempora iure quidem, dicta aspernatur possimus voluptas! Itaque, maiores aliquid? Quo!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam numquam pariatur saepe omnis quisquam quidem cupiditate natus quia deserunt ratione, vitae eum iure rem debitis facilis ducimus necessitatibus expedita illum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas vero tempore alias fugiat, asperiores eveniet dignissimos reiciendis quis unde distinctio consequuntur corporis enim fuga cumque voluptatem omnis autem explicabo nemo?
    </gl-card-content>
    <gl-card-footer>
      Este es el footer
    </gl-card-footer>
  </gl-card>

  <gl-tooltip>
    <gl-tooltip-thrower>
      lanzador
    </gl-tooltip-thrower>
    <gl-tooltip-content>
      tooltip
    </gl-tooltip-content>
  </gl-tooltip>
</div>
